*{
    margin: 0;
    padding: 0;     
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #242426;
    height: 100vh;
    background-position: center;
    background-size: cover;
	display:flex;
}
.navbar{
    position: absolute;
    height: 80px;
    width: 1900px;
    border: 2px black;
    background:#242426;
    color: white;
  
        
}
.navbar button{
background: #242426;
border: none;
height: 80px;
width: 120px;
font-family: "Times New Roman";
color: white;
font-size: 20px;
}

.src{
    position: absolute;
    box-sizing: border-box;
    top: 30px;
    left: 1400px; 
}
#sub{
background: #242426;
color: white;
border: none;
}
.ikonice {
	position:absolute;
	right:20%;
    left: 10%;
	width:30px;
	top: 30px;
    display: flex;
    margin-bottom: 30px 180px;
    
}

#ids img{
    margin-left: 10px; 
    
}

#h{
position: absolute;
color: white;
top: 680px;
width: 1000px;
font-size: 15px;
}

.sst{
    position: absolute;
    color: white;
    top: 220px;
    left: 1400px;
    
}
.sst{
    position: absolute;
    height: 5px;
}

#cd{
position: absolute;
    left: 80px;
    top: 40px; 
    width: 170px;
}

#acti{
position: absolute;
top: 80px;
width: 300px;

left: 80px;    
}
#cod{
    position: absolute;
    top: 40px;
}

#ev{
position: absolute;
    top: 140px; 

}

#evl2{
position: absolute;
top: 170px;
width: 300px;

left: 80px;    
}
#evl{
    position: absolute;
    top: 140px;
    width: 150px;
    left: 80px;
}

#tcp{
position: absolute;
    top: 240px; 

}

#tcp2{
    position: absolute;
    top: 230px;
    width: 190px;
    left: 80px;
}
#tcp21{
position: absolute;
top: 260px;
width: 300px;

left: 80px;    
}

#sf{
position: absolute;
    top: 340px; 

}

#sf2{
    position: absolute;
    top: 340px;
    width: 150px;
    left: 80px;
}
#sf21{
position: absolute;
top: 370px;
width: 220px;

left: 80px;    
}
#hv{
position: absolute;
    top: 450px; 

}

#hv2{
    position: absolute;
    top: 450px;
    width: 150px;
    left: 80px;
}
#hv21{
position: absolute;
top: 480px;
width: 300px;

left: 80px;    
}

#hn{
position: absolute;
    top: 560px; 

}

#hn2{
    position: absolute;
    top: 560px;
    width: 150px;
    left: 80px;
}
#hn21{
position: absolute;
top: 590px;
width: 300px;

left: 80px;    
}


#dvm{
position: absolute;
    top: 670px; 

}

#dvm2{
    position: absolute;
    top: 670px;
    width: 150px;
    left: 80px;
}
#dvm21{
position: absolute;
top: 700px;
width: 300px;

left: 80px;    
}

#ims{
    position: absolute;
    left: 600px;
    top: 0px;
    opacity: 70%;
   
    
}
#ims:hover{
    
    opacity: 100%;
    background-color: #b1b2b5;
}

#ims2{
    position: absolute;
    left: 720px;
    top: 0px;
    opacity: 70%;
    
    
   
}
#ims2:hover{
    opacity: 100%;
    background-color: #b1b2b5;
}

#ims3{
    position: absolute;
    left: 840px;
    top: 0px;
    opacity: 70%;
  
    
}
#ims3:hover{
    
    opacity: 100%;
       background-color: #b1b2b5;
}

#ims4{
      position: absolute;
    left: 960px;
    top: 0px;
    opacity: 70%; 
    
}
#ims4:hover{
    
    opacity: 100%;
       background-color: #b1b2b5;
}


.slika2{
    position: absolute;
    border: 2px white;
    background: transparent;
    width: 850px;
    top: 220px;
    height: 250px;
    left: 300px;
}
.slika2 img{
 position: absolute;
 top: 0px;
 left: 0px;
}
.slika2 h2{
    position:absolute;
    left: 400px;
    top; 0px;
   color: white;
   
}

#l2{
    position: absolute;
    top: 40px;
    left: 400px;
    color: white;
    font-size: 12px;
}

.slika2 p{
    position: absolute;
    left: 400px;
    top: 70px;
    color: white;
}
.rat {
    position: absolute;
    border: 2px orange;
    background-color: darkorange;
    width: 50px;
    height: 50px;
    top: 230px;
    left: 310px;
}
.rat p{
    position: absolute;
    top: 12px;
    left: 10px;
    font-family: "Times New Roman";
    font-size: 25px;
}

#linija2{
position: absolute;
    top: 490px;
    left: 300px;
    height: 1px;
}

.slika3{
    position: absolute;
    border: 2px white;
    background: transparent;
    width: 850px;
    top: 520px;
    height: 250px;
    left: 300px;
}
.slika3 img{
 position: absolute;
 top: 0px;
 left: 0px;
}
.slika3 h2{
    position:absolute;
    left: 400px;
    top; 0px;
   color: white;
   
}

#l3{
    position: absolute;
    top: 40px;
    left: 400px;
    color: white;
    font-size: 12px;
}

.slika3 p{
    position: absolute;
    left: 400px;
    top: 70px;
    color: white;
}

#linija3{
position: absolute;
    top: 790px;
    left: 300px;
    height: 1px;
}

.slika4{
    position: absolute;
    border: 2px white;
    background: transparent;
    width: 850px;
    top: 820px;
    height: 250px;
    left: 300px;
}
.slika4 img{
 position: absolute;
 top: 0px;
 left: 0px;
}
.slika4 h2{
    position:absolute;
    left: 400px;
    top; 0px;
   color: white;
   
}

#l4{
    position: absolute;
    top: 40px;
    left: 400px;
    color: white;
    font-size: 12px;
}

.slika4 p{
    position: absolute;
    left: 400px;
    top: 80px;
    color: white;
}

#linija4{
position: absolute;
    top: 1090px;
    left: 300px;
    height: 1px;
}
.rat2 {
    position: absolute;
    border: 2px orange;
    background-color: darkorange;
    width: 50px;
    height: 50px;
    top: 530px;
    left: 310px;
}
.rat2 p{
    position: absolute;
    top: 12px;
    left: 10px;
    font-family: "Times New Roman";
    font-size: 25px;
}
.rat3 {
    position: absolute;
    border: 2px orange;
    background-color: darkorange;
    width: 50px;
    height: 50px;
    top: 830px;
    left: 310px;
}
.rat3 p{
    position: absolute;
    top: 12px;
    left: 10px;
    font-family: "Times New Roman";
    font-size: 25px;
}
.rat4 {
    position: absolute;
    border: 2px orange;
    background-color: darkorange;
    width: 50px;
    height: 50px;
    top: 1130px;
    left: 310px;
}
.rat4 p{
    position: absolute;
    top: 12px;
    left: 10px;
    font-family: "Times New Roman";
    font-size: 25px;
}
.slika5{
    position: absolute;
    border: 2px white;
    background: transparent;
    width: 850px;
    top: 1120px;
    height: 250px;
    left: 300px;
}
.slika5 img{
 position: absolute;
 top: 0px;
 left: 0px;
}
.slika5 h2{
    position:absolute;
    left: 400px;
    top; 0px;
   color: white;
   
}

#l5{
    position: absolute;
    top: 40px;
    left: 400px;
    color: white;
    font-size: 12px;
}

.slika5 p{
    position: absolute;
    left: 400px;
    top: 80px;
    color: white;
}

#linija5{
position: absolute;
    top: 1390px;
    left: 300px;
    height: 1px;
}



